*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: black;
}

/*blurs*/
#blurTop{
    width: 321px;
    position: absolute;
    margin-top: 0;
    right: 0;
    top: 0;
    background-color: #996DFF;
    filter: blur(200px);
}

#blurBottom{
    width: 321px;
    position: absolute;
    margin-top: 0;
    bottom: 0;
    background-color: #996DFF;
    filter: blur(200px);
}

#blurMobile{
    display: none;
}

/*Containers*/

#container-child{
    max-width: 860px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}


/*header*/

header{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 918px;
    margin: 0 auto;
    margin-left: 30px;
}

a{
    text-decoration: none;
    margin-left: 32.43px;
    color: white;
    font-size: 14px;
}

#home{
    margin-left: 0;
}

#logo{
    margin-right: 140px;
}

button{
    padding: 11px 38px;
    font-size: 11px;
    font-weight: 800;
    border-radius: 6px;
    border: 1px solid #8257E5;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin-left: 130px;
    
}

/*Names*/

#names{
    margin: 56px auto 0;
}

h1{
    color: white;
    font-size: 80px;
    text-align: center;
}

h2{
    text-shadow: 
        2.5px 0px 0px #8257E5,
        0px 2.5px 0px #8257E5,
        -2.5px 0px 0px #8257E5,
        0px -2.5px 0px #8257E5;

    color: black;
    font-size: 80px;
    text-align: center;
}


/*cups*/

#copos{
    margin-top: 1px;
    text-align: center;
}

#cup{
    position: relative;
    top: 0;
}

/*Footer*/

h5{
    color: white;
}

#name{
    color: #b89aff;
    margin-left: 2px;
    font-size: 18px;
}

footer{
    text-align: center;
    border: solid 1px #8257E5;
    width: 800px;
    padding: 10px;
    border-radius: 10px 25px 5px;
    font-size: 20px;
    margin: 0 auto;
}

#headerMobile{
    display: none;
}

h3{
    display: none;
}

/*Mobile*/

@media(max-width: 1078px){
    footer{
        text-align: center;
        border: none;
        background-color: #000000;
        width: 100%;
        padding: 5px;
        border-radius: 0;
        font-size: 20px;
        margin: 0 auto;
        border-top: none;
    }

    #logo, #links{
        display: none;
    }

    
    h1{
        color: white;
        font-size: 50px;
        text-align: center;
    }

    h2{
        text-shadow: 
            2.5px 0px 0px #8257E5,
            0px 2.5px 0px #8257E5,
            -2.5px 0px 0px #8257E5,
            0px -2.5px 0px #8257E5;
    
        color: #12082a;
        font-size: 50px;
        text-align: center;
    }

    #cup{
        position: relative;
        top: 0;
        width: 100%;
    }

    #blurTop, #blurBottom{
        display: none;
    }

    header{
        max-width: 100%;
        margin: 0 auto;
    }

    button{
        padding: 11px 38px;
        font-size: 11px;
        font-weight: 800;
        border-radius: 6px;
        border: 1px solid #8257E5;
        background-color: transparent;
        color: white;
        cursor: pointer;
        margin-left: 0;
        
    }

    #blurMobile{
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    /* Menu */

    #headerMobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 26px;
        padding-bottom: 25px;
        border-bottom: solid 1px #29292E;
    }

    h3{
        display: block;
        color: white;
        font-size: 30px;
        width: 373px;
        font-weight: 600;
        text-align: center;
        margin: 85.5px auto 0;
    }

    #cafe{
        margin: 0 auto;
        margin-top: 88px;
        margin-bottom: 40px;
        background-image: url(/assets/arrow.svg);
        background-repeat: no-repeat;
        background-position: 83%, 50%;
        padding: 10px 50px 10px 30px;
    }

    #menu{
        width: 24px;
        height: 8px;
        padding: 0;
        background-image: url(/assets/menu-buguer-open.svg);
        background-repeat: no-repeat;
        border: none;
        border-radius: 0;
    }

    .menuStyle{
        width: 24px;
        height: 20px !important;
        padding: 0;
        border: none;
        border-radius: 0 !important;
        background-image: url(/assets/menu-buguer-close.svg) !important;
        background-repeat: no-repeat;
    }

    /*JS*/

    .hide{
        display: none !important;
    }

    .links{
        display: flex !important;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        line-height: 50px;
    }

    a{
        color: #A8A8B3;
        font-size: 18px;
        border: solid #29292E 1px;
        margin-left: 0;
        padding-left: 25.82px;
    }

    a:hover{
        border-left: solid #8257E5 5px;
    }

}
